<% filters = @taxon ? @taxon.applicable_filters : [Spree::Core::ProductFilters.all_taxons] %>
<% unless filters.empty? %>
  <div class="panel panel-default" data-hook="navigation">
    <div class="panel-heading">
      <h3 class="panel-title">Filters</h3>
    </div>
    <div class="panel-body">
      <%= form_tag '', :method => :get, :id => 'sidebar_products_search' do %>
        <% params[:search] ||= {} %>
        <%= hidden_field_tag 'per_page', params[:per_page] %>
        <% filters.each do |filter| %>
          <% labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]} %>
          <% next if labels.empty? %> 
            <h4 class="filter-title"> <%= filter[:name] %> </h4>

            <% labels.each do |nm,val| %>
              <% label = "#{filter[:name]}_#{nm}".gsub(/\s+/,'_') %>
              <div class="checkbox">
                <label for="<%= label %>"> 
                <input type="checkbox"
                       id="<%= label %>"
                       name="search[<%= filter[:scope].to_s %>][]"
                       value="<%= val %>"
                       <%= params[:search][filter[:scope]] && params[:search][filter[:scope]].include?(val.to_s) ? "checked" : "" %> />  <%= nm %>
                </label>
              </div>
            <% end %>

          <% end %>
        <%= submit_tag Spree.t(:search), :name => nil, :class => 'btn btn-default' %>
      <% end %>
    </div>
  </div>
<% end %>